<table class="header">
  <tr>
    <td width="345">
      <p>Guten Tag,</p>
      <p>Vielen Dank für ihre Bestellung.</p>
    </td>
    <td width="345"><div align="right">
        <p class="title">Rechnung</p>
        <p class="bold"><%= I18n.t(:order_number).to_s + " " + @order.number %></p>
        <p class="bold"> <%= I18n.l(@order.completed_at.to_date) if @order.completed_at %></p>
    </div></td>
  </tr>
</table>
