<p>Bitte überweisen Sie den Betrag unter Angabe der Bestellnummer innerhalb einer Woche ohne Abzug.</p>
<p>Auf unserer Homepage finden Sie Pflanz- und Pflegetips. Wir wünschen Ihnen viel Freude mit den Pflanzen Ihrer Wahl.</p>
<p>Mit freundlichem Gruß</p>
<p>Das Querbeet-Jungpflanzen-Kollektiv</p>
