<%= check_box(:order, :terms_of_service) %>
<label for="order_terms_of_service"> Ich habe die 
  <%= link_to "Allgemeinen Geschäftsbedingungen (AGB)", "http://www.querbeet-jungpflanzen.de/agb" %>
  gelesen und erkläre mich damit einverstanden.
</label>
