<div class=advice>
   Ihre Jungpflanzen für die Saison 2013 können sie schon jetzt bei uns bestellen. Wir liefern zur <a href="http://www.querbeet-jungpflanzen.de/lieferzeiten">Pflanzzeit</a> ab Ende April.
</div>
