<div class=advice>
  Die Saison 2012 ist zuende. Ab Januar 2013 können sie wieder bei uns bestellen. Wir liefern zur <a href="http://www.querbeet-jungpflanzen.de/lieferzeiten">Pflanzzeit</a> ab Ende April.
</div>
