<div class="menu-header">
  <ul class="menu" id="menu-querbeet">
    <li class="menu-item"><a href="http://www.querbeet-jungpflanzen.de">Startseite</a></li>
    <li class="menu-item current-menu-item"><a href="/">Webshop</a></li>
    <li class="menu-item"><a href="http://www.querbeet-jungpflanzen.de/impressumkontakt">Impressum/Kontakt</a></li>
  </ul>
</div>
