<div class=advice>
  Infos zu Einkaufsbedingungen kommen hier hin. Ein paar Zeilen könnten das schon werden.
</div>
<div data-hook="homepage_sidebar_navigation">
  <%= render 'shared/taxonomies' %>
</div>
<ul class=links>
  <li><a href='#'>Versand und Bezahlung</a></li>
  <li><a href='#'>Lieferzeiten</a></li>
  <li><a href='#'>AGB's</a></li>
  <li><a href='#'>Widerrufsrecht</a></li>
  <li><a href='#'>Datenschutz</a></li>
</div>

