<div class=advice>
  Wir liefern zur <a href="http://www.querbeet-jungpflanzen.de/lieferzeiten">Pflanzzeit</a> ab Mitte April.
  Bitte beachten Sie die günstigeren Preise im <a href='http://www.querbeet-jungpflanzen.de'>Direktverkauf</a> in Waltershausen.
</div>
<div data-hook="homepage_sidebar_navigation">
  <%= render 'shared/taxonomies' %>
</div>
<ul class=links>
  <li><a href='http://www.querbeet-jungpflanzen.de/versand-und-bezahlung'>Versand und Bezahlung</a></li>
  <li><a href='http://www.querbeet-jungpflanzen.de/lieferzeiten'>Lieferzeiten</a></li>
  <li><a href='http://www.querbeet-jungpflanzen.de/umgang-mit-pflanzen'>Umgang mit Pflanzen</a></li>
  <li><a href='http://www.querbeet-jungpflanzen.de/agb'>AGB's</a></li>
  <li><a href='http://www.querbeet-jungpflanzen.de/widerrufsrecht'>Widerrufsrecht</a></li>
  <li><a href='http://www.querbeet-jungpflanzen.de/datenschutz'>Datenschutz</a></li>
</div>

