html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
     border: 0pt none;
     font-family: inherit;
     font-size: 100%;
     font-style: inherit;
     font-weight: inherit;
     margin: 0pt;
     outline: 0pt none;
     padding: 0pt;
     vertical-align: baseline;
}

:focus {
     outline: 0pt none;
}

body {
     background: none repeat scroll 0pt 0pt #B2BF6F;
     color: black;
     line-height: 1em;
}

ol, ul {
     list-style: none outside none;
}

table {
     border-collapse: separate;
     border-spacing: 0pt;
     vertical-align: middle;
}

caption, th, td {
     font-weight: normal;
     text-align: left;
     vertical-align: middle;
}

q, blockquote {
     quotes: "" "";
}

q:before {
     content: "";
}

q:after {
     content: "";
}

blockquote:before {
     content: "";
}

blockquote:after {
     content: "";
}

img a {
     border: medium none;
}

hr {
     background: none repeat scroll 0% 0% #DDDDDD;
     border: medium none;
     clear: both;
     color: #DDDDDD;
     float: none;
     height: 0.1em;
     margin: 0pt 0pt 1.45em;
     width: 100%;
}

hr.space {
     background: none repeat scroll 0% 0% #FFFFFF;
     border: medium none;
     clear: both;
     color: #FFFFFF;
     float: none;
     height: 0.1em;
     margin: 0pt 0pt 1.45em;
     width: 100%;
}

body {
     color: #333333;
     font-family: Georgia,Times New Roman,serif;
     font-size: 90%;
     line-height: 1.5;
     vertical-align: middle;
}

h1 {
     font-size: 2em;
     font-weight: normal;
     line-height: 1;
     margin-bottom: 0.5em;
}

h1 img {
     margin: 0pt;
}

h2 {
     font-size: 2em;
     font-weight: normal;
     margin-bottom: 0.75em;
}

h3 {
     font-size: 18px;
     font-weight: normal;
     line-height: 1;
     margin-bottom: 1em;
}

h4 {
     font-size: 1.2em;
     font-weight: normal;
     line-height: 1.25;
     margin-bottom: 1.25em;
}

h5 {
     font-size: 1em;
     font-weight: bold;
     margin-bottom: 1.5em;
}

h6 {
     font-size: 1em;
     font-weight: bold;
}

h2 img {
     margin: 0pt;
}

h3 img {
     margin: 0pt;
}

h4 img {
     margin: 0pt;
}

h5 img {
     margin: 0pt;
}

h6 img {
     margin: 0pt;
}

p {
     margin: 0pt 0pt 1.5em;
}

p img.left {
     display: inline;
     float: left;
     margin: 1.5em 1.5em 1.5em 0pt;
     padding: 0pt;
}

p img.right {
     display: inline;
     float: right;
     margin: 1.5em 0pt 1.5em 1.5em;
     padding: 0pt;
}

a:link, a:visited, a:active, a:focus {
     color: #84BF41;
     text-decoration: underline;
}

a:hover {
     color: #D72229;
}

blockquote {
     color: #666666;
     font-style: italic;
     margin: 1.5em;
}

strong {
     font-weight: bold;
}

em {
     font-style: italic;
}

dfn {
     font-style: italic;
     font-weight: bold;
}

sup, sub {
     line-height: 0;
}

abbr, acronym {
     border-bottom: 1px dotted #666666;
}

address {
     font-style: italic;
     margin: 0pt 0pt 1.5em;
}

del {
     color: #666666;
}

pre {
     margin: 1.5em 0pt;
     white-space: pre;
}

pre, code, tt {
     font: 1em/1.5 "andale mono","lucida console",monospace;
}

li ul {
     margin: 0pt 1.5em;
}

li ol {
     margin: 0pt 1.5em;
}

ul {
     list-style-image: url("/assets/store/list_icon.gif");
}

ol {
     list-style-type: decimal;
     margin: 0pt 1.5em 1.5em;
}

dl {
     margin: 0pt 0pt 1.5em;
}

dl dt {
     font-weight: bold;
}

dd {
     margin-left: 1.5em;
}

table {
     margin-bottom: 1.4em;
     width: 100%;
}

th {
     font-weight: bold;
}

thead th {
     background: none repeat scroll 0pt 0pt #FCFFF3;
}

th, td, caption {
     padding: 4px 10px 4px 5px;
}

tr.even td {
     background: none repeat scroll 0% 0% #E5ECF9;
}

tfoot {
     font-style: italic;
}

caption {
     background: none repeat scroll 0% 0% #EEEEEE;
}

body {
     padding: 0pt 1em;
}

div#superwrapper {
     background-color: #FFFFFF;
     margin: 20px auto;
     padding: 0pt 0pt 1px 20px;
     width: 960px;
}

div#header {
     margin: 0px;
}

div#header div#logo {
     width: 940px;
}

div#header ul#nav-bar {
     clear: both;
     float: right;
     font-size: 13px;
     line-height: 50px;
     list-style: none outside none;
     margin: 0pt 20px 0pt 0pt;
}

div#header ul#nav-bar li {
     display: table-cell;
     padding: 0pt 0pt 0pt 25px;
     vertical-align: middle;
}

#header div.menu-header {
     font-family: Verdana,Arial,Helvetica,sans-serif;
     font-size: 15px;
}

#header div.menu-header ul {
     list-style: none outside none;
     margin: 0pt 0pt 0pt 20px;
}

#header .menu-header li {
     float: left;
     margin-right: 15px;
     position: relative;
}

#header ul li.current_page_item > a, #header ul li.current-menu-ancestor > a, #header ul li.current-menu-item > a, #header ul li.current-menu-parent > a {
     color: #006436;
}

#header a {
     color: #000000;
     display: block;
     line-height: 38px;
     text-decoration: none;
}

div#sidebar {
     float: left;
     height: 100%;
     margin: 0pt 30px 30px 20px;
     max-width: 30%;
     width: 250px;
}

#sidebar div.advice {
     margin: 10px 0pt 40px;
}

#sidebar h3.taxonomy-root {
     line-height: 24px;
     margin: 15px 0pt 6px;
}

#sidebar h3.taxonomy-root a {
     color: #333333;
     font-family: Helvetica,Verdana,Arial,serif;
     text-decoration: none;
}

#sidebar h3.taxonomy-root a:hover {
     color: #D72229;
     text-decoration: none;
}

div#taxonomies {
     margin: 0pt 0pt 40px;
     padding: 0pt 0pt 5px;
}

ul.taxons-list {
     list-style-image: url("/assets/store/list_icon.gif");
     padding-left: 16px;
}

ul.links a {
     color: #333333;
}

ul.taxons-list li a, ul.links li a {
     text-decoration: none;
}

ul.taxons-list li, ul.links li {
     font-size: 16px;
     line-height: 18px;
     padding-bottom: 8px;
}

div#wrapper {
     border-top: 1px solid #000000;
     clear: both;
     padding-top: 25px;
     width: 940px;
}

body.two-col div#content {
     float: left;
     margin-bottom: 30px;
     width: 640px;
}

div#footer {
     border-top: 1px solid #000000;
     clear: both;
     font-size: 12px;
     font-style: italic;
     padding: 17px 0pt 0pt;
     width: 940px;
}

ul#products {
     list-style: none outside none;
     margin: 0pt auto;
}

ul#products li {
     background: none repeat scroll 0pt 0pt #FEFFF7;
     border: 1px solid #AADDAA;
     float: left;
     margin: 10px 20px 20px 5px;
     min-height: 110px;
     padding: 8px;
     width: 275px;
}

ul#products li a.info {
     float: left;
     font-size: 19px;
     line-height: 18px;
     text-decoration: none;
     width: 160px;
}

ul#products li img {
     background: none repeat scroll 0% 0% #FFFFFF;
     border: 1px solid #DDDDDD;
     display: block;
     float: right;
     margin: auto;
     max-height: 100px;
     padding: 4px;
     width: 100px;
}

ul#products li span.price {
     float: left;
     font-size: 19px;
     width: 125px;
}

div#product-images {
     margin: 0pt;
}

div#product-images div#main-image {
     margin: 5px 20px 20px 2px;
     width: 240px;
}

div#product-description {
     float: left;
     font-size: 16px;
     width: 420px;
}

div#products {
    
}

div#cart-form {
     background: none repeat scroll 0% 0% #FCFFF3;
     border: 1px solid #AADDAA;
     float: right;
     padding: 10px 0pt 10px 10px;
     width: 225px;
}

div#cart-form div#add-to-cart-button {
     background: none repeat scroll 0% 0% #FCFFF3;
     height: 30px;
     width: 175px;
}

div#cart-form input {
     font-size: 14px;
     height: 20px;
     padding-bottom: 4px;
     width: 40px;
}

tbody#line_items tr td > img {
     background: none repeat scroll 0pt 0pt #FFFFFF;
     border: 1px solid #DDDDDD;
     display: block;
     float: right;
     margin: auto;
     padding: 4px;
     width: 100px;
}

tbody#line_items tr td {
     min-width: 60px;
     padding: 30px 10px 0pt;
     vertical-align: top;
}

tbody#line_items tr td h4 {
     margin: 3px 0pt;
}

div#empty-cart {
     margin: 30px 0pt 0pt 5px;
}

div#empty-cart p > input.button {
     margin: 0pt 10px 0pt 5px;
}

div#empty-cart p > a {
     margin: 0pt 10px;
}

div#subtotal div.links {
     margin-bottom: 40px;
}

div#subtotal h3 {
     border-bottom: 4px double #333333;
     margin: -10px 0pt 35px;
     padding: 10px 15px 6px;
}

div#subtotal div.links button#update-button {
     background: none repeat scroll 0pt 0pt #FFFFFF;
     border: medium none;
     font-family: Georgia,Times New Roman,serif;
     font-size: 15px;
}

div#subtotal div.links button#update-button:hover {
     text-decoration: underline;
}

div#subtotal div.links a#checkout-link {
     background: none repeat scroll 0pt 0pt #FCFFF3;
     border: 1px solid #DDDDDD;
     font-size: 15px;
     font-weight: bold;
     margin: 0pt 10px 0pt 15px;
     padding: 5px 17px 5px 10px;
}

div#subtotal div.links a#checkout-link:hover {
     background: none repeat scroll 0pt 0pt #B2BF6F;
     border: 1px solid #333333;
     color: #FFFFFF;
}

div#taxon-crumbs {
     clear: both;
     float: left;
     margin-top: 35px;
}

select#taxon {
     font-size: 12px;
     width: 150px;
}

li#search-bar input {
     font-size: 12px;
     min-height: 11px;
}

div#checkout-summary {
     border: 1px solid #CCCCCC;
     float: right;
     margin: -100px 0pt 30px;
     padding: 10px;
     width: 30%;
}

ol.progress-steps {
     font-size: 17px;
     margin-bottom: 50px;
}

ol.progress-steps li {
     float: left;
     margin-right: 50px;
}

ol.progress-steps li.current-first, ol.progress-steps li.current {
     font-weight: bold;
}

fieldset#billing {
     clear: both;
     float: left;
     margin: 0pt 5% 0pt 0pt;
     width: 40%;
}

fieldset#billing legend {
     font-size: 18px;
     margin-bottom: 44px;
}

fieldset#shipping {
     float: left;
     margin: 0pt 5% 0pt 0pt;
     width: 40%;
}

fieldset legend {
     font-size: 18px;
     margin-bottom: 8px;
}

fieldset#payment ul#payment-methods {
     list-style-type: none;
}

div.form-buttons {
     margin: 0pt 0pt 30px;
}

p.field {
     clear: both;
}

p.field label.error {
     color: #996666;
     float: left;
     font-style: italic;
     margin-bottom: 15px;
}

div.notice {
     border: 1px solid #AADDAA;
     font-weight: bold;
     margin: 10px 30px 20px 10px;
     padding: 10px;
     text-align: center;
     width: 542px;
}

div#registration div#account {
     float: left;
     margin: 0pt 5% 30px 0pt;
     width: 40%;
}

div#registration div#guest_checkout {
     border: 1px solid #84BF41;
     float: right;
     margin: 0pt 5% 0pt 0pt;
     padding: 10px;
     width: 40%;
}

div#registration h2 {
     font-size: 20px;
}

.pagination {
     border-top: 1px solid #999999;
     font-size: 16px;
     padding: 4px 0pt 0pt;
     text-align: center;
}

nav .next, nav .last {
     float: right;
     margin: 0pt 0pt 0pt 15px;
}

nav .first, nav .prev {
     float: left;
     margin: 0pt 15px 0pt 0pt;
}

button, a.button, input.button {
     color: inherit;
     cursor: pointer;
     display: inline-block;
     font-size: 13px;
     height: auto;
     margin: 0pt;
     padding: 3px;
     text-decoration: none;
     width: auto;
}

button img, a.button img, input.button img {
     margin-right: 5px;
     vertical-align: middle;
}

p a.continue {
     text-decoration: underline;
}

input#keywords {
     font-size: 12px;
     height: 10px;
     margin-left: 10px;
     width: 160px;
}

div#subtotal {
     float: right;
}

div#product-variants ul li label {
     cursor: pointer;
}

div#product-images {
     float: left;
}

ul.thumbnails, #breadcrumbs ul {
     list-style: none outside none;
     margin: 0pt;
     padding: 0pt;
}

ul.thumbnails li {
     border: 1px solid silver;
     display: inline-block;
     float: none;
     height: 48px;
     margin-bottom: 4px;
     margin-right: 4px;
     min-height: 48px;
     padding: 0pt;
     position: relative;
     width: 48px;
}

#breadcrumbs ul li {
     display: inline-block;
}

dl.table-display dt {
     float: left;
     min-width: 200px;
     padding: 3px 5px;
}

dl.table-display dd {
     padding: 3px;
}

dl#product-price dt {
     float: left;
     font-size: 14pt;
     padding: 0pt 10px 0pt 0pt;
}

dl#product-price dd {
     font-size: 14pt;
}

.even {
     background: none repeat scroll 0% 0% #EEEEEE;
}

.odd {
     background: none repeat scroll 0% 0% #DDDDDD;
}

.hidden {
     display: none;
}

div.inner input[type="text"], div.inner select {
     width: 90%;
}

span.req {
     color: red;
     padding-left: 0.25em;
}
